.form input {
    background: #E8ECF5;
    border: none;
    box-shadow: 1px 1px 4px #E8ECF5;
    transition: 0.1s ease-out;

    &:active,
    &:focus {
        box-shadow: 0 0 0.2rem rgba(#7790C9, 0.5);
    }
}

.search input {
    border: none;
    box-shadow: 0 0 0.2rem rgba(#A7B1C9, 0.5);

    &:active,
    &:focus {
        box-shadow: 0 0 0.2rem rgba(#A7B1C9, 1);
        outline: none;
        border: none;
    }
}

.modal-input-block p {
    font-weight: bold;
    font-size: 0.8rem;
}

.inline-group {
    max-width: 9rem;
    padding: 0.5rem;
}

.inline-group .form-control {
    text-align: center;
}

input[type="number"],
input[type="datetime-local"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: inline-flex;
    border-radius: 0.5rem;
    position: relative;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.c-number .number-input button {
    left: 24%;
}

.c-number .plus {
    left: 62% !important;
}

.c-number p {
    text-align: center !important;
}

.number-input button {
    position: absolute;
    outline: none;
    -webkit-appearance: none;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    border-radius: 0.25rem;
    top: 17%;
    left: 5%;
    background-color: white;
    font-size: 1.2rem;
    transition: 0.2s ease-out;

    &:hover {
        background-color: $red-100;
        transition: 0.4s ease-out;
    }
}

.plus {
    left: 71% !important;

    &:hover {
        background-color: $green-100 !important;
        transition: 0.4s ease-out;
    }
}

.number-input input[type=number] {
    font-family: sans-serif;
    border: none;
    width: 8rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    height: 2.8rem;
    text-align: center;
    background-color: #E8ECF5;
    border-radius: 0.25rem;

    &:active,
    &:focus {
        outline: none;
        background: $blue-300;
        color: white;
    }

    @include breakpoint($c-forth_breakpoint) {
        font-size: 1rem;
    }
}

.f-input {
    outline: none;
    background-color: white !important;
    color: black;
}

.form {
    position: relative;
    height: 3rem;
    margin: 1.5rem 0;
    padding: 0;

    &__input {
        position: absolute;
        background: #E8ECF5;
        border: none;
        box-shadow: 1px 1px 4px #E8ECF5;
        transition: 0.1s ease-out;
        font-size: 0.8rem;
        padding: 1rem 1rem 0.5rem 1rem;

        &:hover {
            border-color: $gray-500;
        }

        &:focus {
            border-color: $gray-500;
        }
    }

    &__label {
        position: absolute;
        left: 0.5rem;
        top: 0.8rem;
        padding: 0 0.2rem;
        color: black;
        cursor: text;
        font-weight: bold;
        font-size: 0.8rem;
        transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;

        @include breakpoint($c-forth_breakpoint) {
            font-size: 0.7rem;

        }
    }

}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label {
    top: -0.5rem;
    font-size: 0.6rem;
    left: 0.2rem;
    background-color: white;

    @include breakpoint($c-forth_breakpoint) {
        font-size: 0.5rem;
        top: -0.3rem;
    }
}

.form__input:not(:placeholder-shown) {
    background-color: white;
    box-shadow: 0 0 0.2rem rgba(#A7B1C9, 0.5);
}

input[type="datetime-local"] {
    display: flex;
    justify-content: flex-start;
    background-color: #E8ECF5;
    border-radius: 0.25rem;
    border: none;
    padding: 1rem 1rem 0.5rem;
    height: 2.8rem;
}

.add_charges {
    display: none;
}

.add_glasses {
    display: none;
}

.c-footer {
    display: block;
}

.table {
    border: none;

    td,
    th,
    tr {
        border-style: none;
    }
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    box-shadow: 1px 1px 4px #E8ECF5;
    background-color: $blue-200;
    color: white;
}
@include breakpoint($c-first_breakpoint)
{
    .c-time-perioud{
        display: block!important;
    }
}