.table-scrollable {
  max-height     : 75vh;
  overflow-x     : auto;
  overflow-y     : auto;
  scrollbar-width: thin;
}

.table-scrollable thead th {
  border: none;
}

.table-scrollable thead th {
  position        : sticky;
  top             : 0;
  background-color: white;
  margin-top      : -1px;
  margin-bottom   : -1px;
  box-shadow      : inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
}

.b-img-table i {
  cursor    : pointer;
  font-size : 1.1rem;
  transition: 0.4s ease-out;
}

.b-img-table i:hover {
  color     : #39803D;
  transition: 0.2s ease-out;
}

p {
  margin : 0;
  padding: 0;
}

.c-table-add-avaible {
  padding: 0.5rem;
}

.c-table-add-avaible .table {
  padding      : 1rem;
  box-shadow   : 1px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  tbody {
    padding    : 5rem !important;
    align-items: center;
  }

  td,
  th,
  tr {
    border      : none;
    box-shadow  : none;
    border-style: none!important;
  }

  tr {
    height : 5rem;
    padding: 0 1rem;
  }

  .c-img-table {
    min-width  : 3rem;
    min-height : 2rem;
    max-height : 2rem;
    max-width  : 3rem;
    padding    : 0;
    border-left: 1px solid rgba(gray, 0.1);
    display    : flex;
    align-items: center;
  }

  img {
    width  : 100%;
    display: block;
  }
}